<settings>
    <category label="30000">
        <setting label="30005" type="enum" id="lang" lvalues="30030|30031|30032" default="1"/>
        <setting label="30006" type="enum" id="portal" values="AT|DE|INT|RU|CIS" default="2"/>
        <setting label="email" type="text" id="email" default="" visible="false"/>
        <setting label="password" type="text" id="password" default="" visible="false"/>
        <setting label="cookie" type="text" id="cookie" default="" visible="false"/>
        <setting label="startup" type="bool" id="startup" default="false" visible="false"/>
    </category>
    <category label="30010">
        <setting label="30011" type="bool" id="force_view" default="false"/>
        <setting label="30012" type="select" id="content" enable="eq(-1,true)" values="videos|movies|tvshows|episodes|musicvideos" default="videos"/>
        <setting label="30013" type="number" id="view_id" enable="eq(-2,true)" default="55"/>
    </category>
</settings>