<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30100">
        <setting label="30110" type="text" id="api-key" default=""/>
		<setting label="30115" type="bool" id="fr_fanart" default="true"/>
		<setting label="30116" type="bool" id="fr_thumb" default="true"/>
		<setting label="30121" type="bool" id="sc_thumb" default="false"/>
    </category>
</settings>
